<div class="container">


  <div class="card">
    <div class="header-asistencia">
      Solicitud de vacaciones
     </div>
    <div class="contenedor-dias">
      <div>
      <label for="">Nombres</label>
      <input type="text" name="" id="">
        </div>
        <div>
      <label for="">Apellidos</label>
      <input type="text">
</div>
<div>
      <label for="">DNI</label>
      <input type="text">
</div>
<div>
      <label for="">Area</label>
      <input type="text">
</div>
<div>
      <label for="">Correo</label>
      <input type="text">
</div>
<div>
      <label for="">Codigo</label>
      <input type="text">
</div>
<div>
      <label for="">Jefe directo</label>
      <input type="text">
</div>
<div>
      <label for="">Código de encargado</label>
      <input type="text" name="" id="">
    </div>
    </div>
    <div class="contenedor-fecha">
    <div class="fecha-header">Fechas tentativas</div>

    <div class="div-fechas">
      <div>
    <label for="">Fecha de inicio</label>

    <input type="text">
    </div>
    <div>
    <label for="">Fecha de fin</label>
    <input type="text" name="" id="">
    </div>
    </div>
    <div>
    <button class="fecha-footer">Solicitar</button>
 
    </div>
  </div>
</div>
